<div class="card" style="color:black; height:90vh; margin-bottom:15px">
    <img src="{{listings.image.url}}" class="card-img-top" alt="image">
    <div class="card-body">
        <div class="float-end">
            <img src="{{listings.seller.photo.url}}" class="rounded-circle" style="object-fit:cover"
            width:"42" height="35">
            {{listings.seller.user.username}}
        </div>
      <h4 class="card-title">{{listings.model}}</h4>
      <p class="card-text" style="height:30vh; overflow:hidden"> {{listings.description}}</p>
      <div class="btn-group">
      <a href="{% url 'listing' id=listings.id %}" class="btn btn-primary">View</a>

      {% if listings.seller.user == request.user %}
      <a href="{% url 'edit' id=listings.id %}" class="btn btn-outline-primary mx-1">Edit</a>
      {% endif %}
      </div>
      <small class="text-muted">{{listings.updated_at}}</small>
      <button type="button" value="like" class="btn btn-outline-primary btn-sm float-end">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="black" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                    </path>
                </svg>
      </button>
    </div>
  </div>