{% load static %}
<!DOCTYPE html>
    <html lang=en>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="Nasir Azeezat Omobolanle">
            {% block 'title' %}
            <title>MotorMax.List Your Car Today</title>
            {% endblock %}
        
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/style.css' %}" rel="stylesheet">
            <link rel="icon" type="images/x.icon" href="{% static 'images/car2.jpg' %}">
            
        </head>

<body>
    
{% block 'body' %}

{% endblock %} 

{% block 'footer' %}

    <div class="foot2">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container">
       <div class="text-left">
        <p style="color:white">MotorMax - Best place to buy and sell cars <br>
        &copy;copyright MotorMax </p>
       </div>

       <div class="text-right">
          <small style="color:white">Powered By  <i>Django</i></small>
       </div>
    </div>
      </nav>
    </div>

{% endblock %}

</body>
</html>